[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-marshmallow = "*"
requests = "*"
python-dotenv = "*"
wtforms = "*"
werkzeug = "==0.16.0"
click = "*"
websocket = "*"
flask_mongoengine = "*"
marshmallow-sqlalchemy = "*"
Flask-SQLAlchemy = "*"
marshmallow = "*"

[dev-packages]

[requires]
python_version = "3.7"
